@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.hero-container {
    position: relative;
    border: 1px solid purple;
}

.hero-left {
    position: absolute;

    &__header,
    &__subhead {
        margin-left: 3.5rem;
    }

    &__header {
        @include mobileH1;
        padding-top: 7rem;
    }

    &__subhead {
        @include mobileH2;
        padding-top: 1rem;
    }
}

.hero-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;

    &__img1,
    &__img2,
    &__img3,
    &__img4,
    &__img5,
    &__img6 {
        width: 130px;
        height: 190px;
        border: 1px solid red;
        position: absolute;
        filter: drop-shadow(5px 5px 10px #000000);

        @include tablet {
            scale: 2.5;
        }
    }

    &__img1 {
        right: 90%;
        scale: 1.3;
    }

    &__img2 {
        right: 60%;
        top: -6rem;
        scale: 1;
    }

    &__img3 {
        top: -3rem;
        scale: 1.2;
    }

    &__img4 {
        top: 4rem;
        right: 30%;
        scale: 1.3;
    }

    &__img5 {
        top: 15rem;
        right: 70%;
        scale: 1.1;
    }

    &__img6 {
        top: 14rem;
        right: 5%;
        scale: 1;
    }
}
