/////////  Breakpoints /////////
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

///////// Buttons /////////
$buttonRadius: 2px;

/////////  Being used currently
$white: #ffffff;
$cta: #000000;

///////// Primary Colours ///////
$primary: #432534;
$secondary: #efd6ac;

$black: #232323;
