@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.img-text-container {
    border: 1px dotted purple;
    z-index: 20;
    background-color: $white;
    height: 40svh;
    display: flex;
}

.img-container {
    width: 60%;
    border: 1px solid blue;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    &__header {
        border: 1px solid orange;
    }

    &__button {
        border: 1px solid green;
        margin: 1rem;
    }
}
