@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.img-text-container-reverse {
    display: flex;
    flex-direction: row-reverse;
    z-index: 20;
    height: 50svh;
}

.img-text-container {
    display: flex;
    z-index: 20;
    height: 50svh;
}

.img-container {
    object-fit: cover;
    width: 60%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;

    &__header {
        @include mobileH2;
        padding-bottom: 0.5rem;
    }

    &__button {
        border: 1px solid $black;
        border-radius: $buttonRadius;
        padding: 0.5rem 3rem;
        @include mobileH3;
    }
}
