@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

@keyframes slideDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

.navbar-container {
    position: relative;
    z-index: 100;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    color: $cta;

    &__link {
        padding: 1rem;
    }
}
