@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.banner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__img {
        width: 100%;
        // object-fit: cover;
    }

    &__button-wrapper {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 50%);
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__text,
    &__button {
        @include mobileH2;
        color: $cta;
        background: none;
        padding: 1rem;

        @include tablet {
            @include desktopH2;
        }
    }

    &__button {
        @include button;
        padding: 0.5rem 3rem;
    }
}

.hidden {
    background: none;
}
